body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e98c00; 
  padding: 10px 20px;
  color: white;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.navbar-icons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbar-search {
  display: flex;
  align-items: center;
  background-color: #e98c00;
  border: 2px solid white;
  border-radius: 20px;
  padding: 5px 10px;
  flex: 1;
  margin: 0 20px;
}

.navbar-search input {
  border: none;
  outline: none;
  flex: 1;
  border-radius: 20px;
  background-color: #e98c00; 
  color: #ffffff;
}

.navbar-search input::placeholder {
  color: #ffffff;
}

.navbar-search img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .navbar-logo {
    margin-bottom: 10px;
  }

  .navbar-search {
    width: 100%;
    margin: 0 0 10px;
  }

  .navbar-icons {
    gap: 10px;
    justify-content: center;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .navbar-logo img {
    width: 40px;
    height: 40px;
  }

  .navbar-search {
    padding: 5px;
  }

  .navbar-search input {
    font-size: 14px;
  }

  .navbar-icons img {
    width: 18px;
    height: 18px;
  }
}

.container {
  background-color: #fffbf8;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  width: 80%;
  margin: 0% 10%;
}

.product-card {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  background: white;
  box-sizing: border-box;
  flex: 1 0 30%;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 500px;
}

.product-card img {
  max-width: 100%;
  max-height: 200px;
  height: auto;
  margin-bottom: 10px;
}

.product-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.product-title {
  font-size: 18px;
  font-weight: bold;
}

.price {
  font-size: 24px;
  color: #28a745;
  font-weight: bold;
}

.old-price {
  font-size: 16px;
  color: #6c757d;
  text-decoration: line-through;
}

.discount {
  color: #28a745;
  font-size: 14px;
}

.badge-custom {
  background-color: black;
  color: white;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.btn {
  color: #fff;
  border: #ffffff;
  background-color: rgb(26, 111, 223);
  border-radius: 6px;
  margin-top: 10px;
  height: 30px;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: rgb(68, 151, 199);
  cursor: pointer;
}